body {
  font-family: sans-serif;
  background: #484848;
 }


 .modal-dialog {
     width: 80%;
 }

/*
 .CodeMirror {
	height: 80% !important;
}

.editor {
  width: 100%;
}
*/

 h1 {color: white;}

.output, input#cell {
  font-size: 10pt;
  position: absolute;
  height: 1.2em;
  width: 52pt;
  height: 15pt;
  overflow: hidden;
  padding-left: 4pt;
}

input#cell { border: none;}

.output {
  background: white;
  color: black;
  pointer-events: none;
  padding-top: 2pt;
  height: 15pt;
}

input:focus + .output { display: none; }

table { border-collapse: collapse ; }

td > div {
  width: 52pt;
  height: 15pt;
}


td {
  border: 1px;
  border-style:solid #6600cc;
}


.column-label  > td, .row-label {
  text-align: center;
  background: #1f1f2d;
}

.row-label { width: 2em; }

div#iForm  { display: table;      }
.formField     { display: table-row; }
/*label { display: table-cell; }*/
.inputFormField { display: table-cell; }
