<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script type="text/javascript" src="./jquery-1.12.1.js"></script>
  <script type="text/javascript" src="./jquery-ui-1.11.4\jquery-ui-1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="./jquery-ui-1.11.4\jquery-ui-1.11.4/jquery-ui.css">
  <script src="./ui-bootstrap-tpls-1.2.2.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>



  <script type="text/javascript" src="./spreadsheet.js"></script>

  <script type="text/javascript" src="./ui-codemirror-0.3.0/ui-codemirror.min.js"></script>
  <link href="./bootstrap.min.css" rel="stylesheet">

  <script type="text/javascript" src="./bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./editor/codemirror.js"></script>
  <script type="text/javascript" src="./editor/idp.js"></script>

  <link href="./editor/codemirror.css" rel="stylesheet">
  <link href="./editor/symbol.css" rel="stylesheet">

  <link rel="stylesheet" href="./spreadsheet.css" />


</head>

<body>

  <div ng-app="myApp" ng-controller="sheet">
    <h1 class="col-lg-12 text-center"> IDP Spreadsheet </h1>
    <div class="col-lg-14 text-center">
      <label>Status: {{requestSend}}</label>
      <div class="inline-field">
      </div>
      <label>{{numberOfModels}} or more models found</label>
      <label>Current model: {{modelAsked}}</label>
      <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="prevModel()">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Predicates
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
              <li><a href="#" ng-click="openAddPredicate()">Add Predicate</a></li>
              <li><a href="#" ng-click="openEditPredicate()">Edit Predicate</a></li>
              <li><a href="#" ng-click="openDeletePredicate()">Delete Predicate</a></li>
              <li><a href="#" ng-click="addDefinitiontoPredicate()">Add/Edit Definition</a></li>
        </ul>
      </div>


      <!--
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Functions
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="openAddConstant()">Add constant</a></li>
        </ul>
      </div>
    -->
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="openConstraintsEditor()">Constraints</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="request()">Send request</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="openEditor()">IDP Code</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="multipleModelsEnabled" ng-change="request()">Multiple Models
            </label>
          </div>
        </li>
        <li>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="referencesEnabled" ng-change="request()">References to predicates
          </label>
        </div>
      </li>
        </ul>
      </div>
      <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="nextModel()">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>
      </div>
    </div>


    </br>

    <!-- modal -->
    <!-- IDP Editor -->
    <script type="text/ng-template" id="MyIDPModal.html">
      <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="source">IDP Code</h4>
        </div>
        <div class="modal-body">
             <div ui-codemirror="{ onLoad : codemirrorLoaded, readOnly: false }" id="codeArea" ng-model="idpCode[0]" class="editor"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </script>

    <!-- constraints editor -->
    <script type="text/ng-template" id="MyConstraintsModal.html">
      <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="source">Constraints</h4>
        </div>
        <div class="modal-body">
             <div ui-codemirror="{ onLoad : codemirrorLoaded}" id="codeArea" ng-model="constraints" class="editor"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </script>

    <!-- add predicate -->
    <script type="text/ng-template" id="MyPredicateModal.html">
      <div id="PredicateModal" class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="source">Add Predicate</h4>
        </div>
        <div class="modal-body" id="iForm" >
              <p class="formField">
                <label for="pName" class="inputFormField"> Name: </label>
                <input id="pName" class="inputFormField" ng-model="formData.name"></input>
              </p>
              </br>
              <p class="formField">
                <label for="pNbArguments" class="inputFormField">Number of arguments: </label>
                <input id="pNbArguments" class="inputFormField" type="number" min="1" ng-model="formData.nbArguments" ng-change="nbArgmumentChange()" ></input>
                &emsp;
                <label for="plength" class="inputFormField">length: </label>
                <input id="plength" class="inputFormField" type="number" min="1" ng-model="formData.length" ng-change="lengthChange()" ></input>
             </p>
             </br>
             <p class="formField">
                <label for="pCell1" class="inputFormField">cell 1: </label>
                <input id="pCell1" class="inputFormField" ng-model="formData.cell1" ng-change="changeCell1()"></input>
                &emsp;
                <label for="pCell2" class="inputFormField">cell 2: </label>
                <input id="pCell2" class="inputFormField"  ng-model="formData.cell2" ng-change="changeCell2()" readonly></input>
             </p>
             </br>
             <p class="formField" ng-repeat="i in range(formData.nbArguments) track by $index">
               <label for="pArg" class="inputFormField">Argument name {{$index+1}} : </label>
               <input id="pArg" class="inputFormField" ng-model="formData[argument + $index.toString()]" ng-init="formData[argument + $index.toString()] = 'arg' + ($index + 1).toString()"></input>
                &emsp;
               <label for="pArgType" class="inputFormField">Argument type {{$index+1}} : </label>
               <!--
               <input id="pArgType" class="inputFormField"  ng-model="formData[argumentType + $index.toString()]"></input>
               -->
               <select id="pArgType" class="inputFormField" ng-model="formData[argumentType + $index.toString()]" ng-init="formData[argumentType + $index.toString()] = 'SomeText'" style="color:black;">
                 <option value="SomeText" style="color:black;">String</option>
                 <option value="SomeInteger" style="color:black;">Numeric</option>
               </select>
               </br> </br>
             </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="submit()">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </script>

    <!-- add definition -->
    <script type="text/ng-template" id="MyDefinitionModal.html">
      <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="source">Definition</h4>
        </div>
        <div class="modal-body" id="iForm">
          <p class="formField">
            <label for="selectPredicate" class="inputFormField"> select predicate: </label>
            <select name="selectPredicate" class="inputFormField" ng-model="formData.predicate" ng-change="changePredicate()" style="color:black;">
              <option ng-repeat="predicate in predicates" value="{{predicate.name}}" style="color:black;">{{predicate.name}}</option>
            </select>
          </p>
          </br>
        </div>
        <div ui-codemirror="{ onLoad : codemirrorLoaded }" id="codeArea" ng-model="formData[formData.predicate]" class="editor"></div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" ng-click="submit()">Submit</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </script>

    <!-- Edit predicate -->
    <script type="text/ng-template" id="MyEditPredicateModal.html">
      <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="source">Edit predicate</h4>
        </div>
        <div class="modal-body" id="iForm">
          <p class="formField">
            <label for="selectPredicate" class="inputFormField"> select predicate: </label>
            <select name="selectPredicate" class="inputFormField" ng-model="formData.predicate" ng-change="changePredicate()" style="color:black;">
              <option ng-repeat="aPredicate in listOfPredicates" value="{{aPredicate.name}}" style="color:black;">{{aPredicate.name}}</option>
            </select>
          </p>
          </br>
          <p class="formField">
            <label for="pName" class="inputFormField"> Name: </label>
            <input id="pName" class="inputFormField" ng-model="formData[formData.predicate].name"></input>
          </p>
          </br>
          <p class="formField">
            <label for="pNbArguments" class="inputFormField">Number of arguments: </label>
            <input id="pNbArguments" class="inputFormField" type="number" min="0" ng-model="formData[formData.predicate].nbArguments" ng-change="nbArgmumentChange()"></input>
            &emsp;
            <label for="plength" class="inputFormField">length: </label>
            <input id="plength" class="inputFormField" type="number" min="1" ng-model="formData[formData.predicate].length" ng-change="lengthChange()" ></input>
         </p>
         </br>
         <p class="formField">
            <label for="pCell1" class="inputFormField">cell 1: </label>
            <input id="pCell1" class="inputFormField" ng-model="formData[formData.predicate].cell1" ng-change="changeCell1()"></input>
            &emsp;
            <label for="pCell2" class="inputFormField">cell 2: </label>
            <input id="pCell2" class="inputFormField"  ng-model="formData[formData.predicate].cell2" ng-change="changeCell2()" readonly></input>
         </p>
         </br>
         <p class="formField" ng-repeat="i in range(formData[formData.predicate].nbArguments) track by $index">
           <label for="pArg" class="inputFormField">Argument name {{$index+1}} : </label>
           <input id="pArg" class="inputFormField"  ng-init="formData[formData.predicate][argument + $index.toString()] = 'arg' + ($index + 1).toString()" ng-model="formData[formData.predicate][argument + $index.toString()]"></input>
            &emsp;
           <label for="pArgType" class="inputFormField">Argument type {{$index+1}} : </label>
           <select id="pArgType" class="inputFormField" ng-model="formData[formData.predicate][argumentType + $index.toString()]"  style="color:black;">
             <option value="SomeText" style="color:black;">String</option>
             <option value="SomeInteger" style="color:black;">Numeric</option>
           </select>
           </br> </br>
         </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" ng-click="submit()">Submit</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </script>

    <!--delete predicate -->
    <script type="text/ng-template" id="MydeletePredicateModal.html">
      <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="source">Delete Predicate</h4>
        </div>
        <div class="modal-body" id="iForm">
          <p class="formField">
            <label for="selectPredicate" class="inputFormField"> select predicate: </label>
            <select name="selectPredicate" class="inputFormField" ng-model="formData.predicate" style="color:black;">
              <option ng-repeat="predicate in predicates" value="{{predicate.name}}" style="color:black;">{{predicate.name}}</option>
            </select>
          </p>
          </br>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" ng-click="delete()">Submit</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </script>

    <!-- END modal -->

    <table>
      <tr class="column-label">
        <td>IDP</td>
        <td ng-repeat="column in columns">{{column}}</td>
      </tr>
      <tr ng-repeat="row in rows">
        <td class="row-label">{{row}}</td>
        <td ng-repeat="column in columns" >
          <div>
            <input id="cell" ng-model="cells[column+row]" ng-blur="change(column,row)" ng-style="{  background: cellStyle[column+row]}"  ng-disabled="collSpan[column+row]"></input>
            <div  ng-bind="Defmodel[column+row]" ng-style="{  background: cellStyle[column+row] }" class="output"></div>
          </div>
        </td>
      </tr>
    </table>


    <br>

    <div class="col-lg-14 text-center">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="transitiveClosure()">Scenario: Transitive closure</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="nurseScheduling()">Scenario: Nurse scheduling</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="shortestPath()">Scenario: Shortest path</button>
      </div>
    </div>


  </div>


  <style>
    label, input { display:block; }
    fieldset { padding:0.5; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: 0.3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>

</body>
</html>
