.propHeader {
	color: inherit;
}

.course {
	margin-left: 20px;
}

.value {
	margin-right: 5px;
}

.cluster {
	text-decoration: underline;
}

.ct {
	background-color: green;
}

.cf {
	background-color: red;
}


.CodeMirror {
	height: initial !important;
}

.editor {	
	overflow-y: auto;
}


.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #3498db;
}

.flexCont {
	 -moz-column-count: 5;
	 -moz-column-gap: 3px;
	 -webkit-column-count: 5;
	 -webkit-column-gap: 3px;
	 column-count: 5;
	 column-gap: 3px;
	 
}

.prop{
 	-webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
    width: 100%;
	display: inline-block;
 	margin-bottom: 0px;
}

body {
	background-image: url("bg.jpg");
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

html,body {
	height: 100%;
}

#fullHeader {
	background-color: rgba(0,0,0,0.5)
}

.flexContain {
	height: 100%;
	max-height: 100%;
	display: flex !important;
	flex-direction: column;
}

#BContain {
	height: 800px;
	max-height: 100%;
	display: flex !important;
	flex-direction: column;
}

.bootstrap-switch{
	flex-shrink: 0;
}

.flexBody {
	flex: 2 0px;
	max-height: 100%;
	overflow-y: auto;
}

#pBody {
	padding:10px ;
}