.row {
  padding: 10px 0px 10px 0px;
  display:flex;
  justify-content: space-around;
}

body {
  background-color: black;
  color: white;
}

h2{
  text-align: center;
}

a h3{
  color:white;
}

.container{
  padding-top: 10px;
}

.item{
  text-align: center;
  height: auto;
  display:flex;
  flex-direction: column;
}

.demo-name{
  flex-grow: 0;
  flex-shrink: 0;
}

.demo-teaser{
  display:flex;
  flex-grow:1;
  height: auto;
}

.demo-image{
  width:100%;
  margin:auto;
}
