<!DOCTYPE html>
<html>
<head>
    <title> IDP Current State</title>
    <meta charset="utf-8">
    <title>Bootstrap Schema Form example</title>

    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="current.css">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="bower_components/tv4/tv4.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="bower_components/angular-schema-form/dist/schema-form.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script type="text/javascript" src="bower_components/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" src="bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
    <script type="text/javascript" src="currentState.js"></script>
</head>

<body ng-app='formCurrent' ng-controller="FormController">
<div class="container">
    <h1 class="text-center">IDP Current State Demonstration</h1>

    <div class="col-md-6 ">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" ng-click="loadScenario(0)" class="btn btn-primary">Empty</button>
                <button type="button" ng-click="loadScenario(1)" class="btn btn-primary">Scenario 1</button>
                <button type="button" ng-click="loadScenario(2)" class="btn btn-primary">Scenario 2</button>
            </div>
            <button type="button" ng-click="submit()" class="btn btn-success">Run</button>
        </div>


        <h2>Input</h2>
        Fill in the information about the history here:
        <div class="form-horizontal form-group-sm" >
            <form sf-schema="schema"
                  sf-form="form"
                  sf-model="model"
                  sf-options = "{ formDefaults : {  disableSuccessState: true, feedback : false} ,supressPropertyTitles : true}"
                    ></form>
        </div>
    </div>
    <div class="col-md-6 ">

        <div ng-if="!showErrors">
            <div id="curStateVis">
                <h3>Current State:</h3>
                <div ng-repeat="(pc,softs) in visu.curState[model.curTime]">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{pc}}</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                               <span ng-repeat="(soft,v) in softs">
                                <dt> {{soft}}</dt>
                                <dd> {{v}}</dd>
                               </span>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div id="latestVerVis">
                <h3>Latest Versions:</h3>

                <div class="panel-body well">
                    <dl class="dl-horizontal">
                               <span ng-repeat="(soft,v) in visu.latest[model.curTime]">
                                <dt> {{soft}}</dt>
                                <dd> {{v}}</dd>
                               </span>
                    </dl>
                </div>
            </div>
        </div>
        <div id="installationVis">
                <h3>Install Requirement:</h3>

                <div class="panel-body well">
                    <dl class="dl-horizontal">
                               <span ng-repeat="(pc,softv) in visu.installSim">
                               <span ng-repeat="(soft,v) in softv">
                                <dt> {{pc}}</dt>
                                <dd> {{soft}} {{v}}</dd>
                               </span>
                               </span>
                    </dl>
                </div>
            </div>
        </div>

        <pre class="errorPane" ng-if="showErrors">Errors:<br>   {{err}}</pre>
    </div>
</div>
</body>
</html>
