.course {
	margin-left: 20px;
}

.cluster {
	text-decoration: underline;
}

.ct {
	background-color: green;
}

.cf {
	background-color: red;
}

.modal-dialog {
    width: 80%; 
}

.CodeMirror {
	height: 80% !important;
}
