#codeArea {
	width: 100%;
	font-size: 32px;
	margin-top: 5px;
	height: 150px;
}

#errorPane{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}

#map{
	width: 100%;
	height: 450px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#errorPane {
	width: 100%;
	background-color: black;
	color: red;
}

.CodeMirror {
	height: inherit;
}

#sourcemodal {
	width: 90%;
	height: 80%;
}

body{
	background-color: #111111 !important;
}